<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">    

    <title>Document</title>
</head>
<body>
    <!-- header -->
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">SIILAS CRUSH</span>
          </a>
          <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <!-- <a class="mr-5 hover:text-gray-900">First Link</a>
            <a class="mr-5 hover:text-gray-900">Second Link</a>
            <a class="mr-5 hover:text-gray-900">Third Link</a>
            <a class="mr-5 hover:text-gray-900">Fourth Link</a> -->
          </nav>
        </div>
      </header>
    <!-- header -->
    <!-- dalal -->
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-half w-full" src="static/anish.jpeg">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">ANISH SHARMA(Admin)</h2>
              <p class="leading-relaxed text-base">INFORMATION PROVIDER.</p>
              <button class="flex mx-auto mt-6 text-white bg-yellow-500 border-0 py-2 px-5 focus:outline-none hover:bg-yellow-600 rounded"> <a href="https://www.instagram.com/anish_janawat/">Instagram link</a></button>
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64  overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="static/shakir.jpg">
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">SHAKIR NAGORI(JNU Docter Sahab)</h2>
              <p class="leading-relaxed text-base"><p>GIVE EVERYONE DESERVED TREATMENT.</p>
              <button class="flex mx-auto mt-6 text-white bg-yellow-500 border-0 py-2 px-5 focus:outline-none hover:bg-yellow-600 rounded"> <a href="https://www.instagram.com/mr.mystery1310/?utm_medium=copy_link">Instagram link</a></button>
            </div>
          </div>
        </div>
      </section>
    <!-- dalal -->
 <!-- heading -->
 <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h2 class="text-xs text-yellow-500 tracking-widest font-medium title-font mb-1"></h2>
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">JNU TOP CRUSHES OF SILLAS.</h1>
      </div>
 <!-- heading -->
    <!-- content -->
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-35 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-half block" src="static/sukhmani.jpeg">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Sukhmani Sandhu</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">Miss Perfect</h2>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="https://instagram.com/sukhmni_sandhu95?utm_medium=copy_link">Profile Link</a>
                  </button>
                <!-- <p class="mt-1">$16.00</p> -->
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-35 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-half block" src="static/Sulekha.jpeg">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Sulekha Choudhary</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">Bachkani</h2>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="https://instagram.com/_choudhary_ahana?utm_medium=copy_link">Profile Link</a>
                  </button>
                <!-- <p class="mt-1">$21.15</p> -->
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-35 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-half block" src="static/Shivani.jpeg">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Shivani Singh</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">Show-OFF GIRL</h2>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="https://instagram.com/_shiivaniii__singh?utm_medium=copy_link">Profile Link</a>
                  </button>
                <!-- <p class="mt-1">$12.00</p> -->
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-35 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-half block" src="static/new1.jpeg">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Kritika</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">Balak Buddhi</h2>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="https://instagram.com/mikaelson__99?utm_medium=copy_link">Profile Link</a>
                  </button>
                <!-- <p class="mt-1">$18.40</p> -->
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-35 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="static/new2.jpeg">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Sunita Bishnoi</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">Sweet and Simple</h2>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="https://instagram.com/innocent_chinki?utm_medium=copy_link">Profile Link</a>
                  </button>
                <!-- <p class="mt-1">$16.00</p> -->
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-35 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-half block" src="static/new3.jpeg">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Susmita</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">Gold-Digger</h2>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="https://instagram.com/hilarious_aqua_rius?utm_medium=copy_link">Profile Link</a>
                  </button>
                <!-- <p class="mt-1">$21.15</p> -->
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-35 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="static/bharti.jpeg">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Bharti Pareek</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">Cute One</h2>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="https://instagram.com/pareek6385?utm_medium=copy_link">Profile Link</a>
                  </button>
                <!-- <p class="mt-1">$12.00</p> -->
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
              <a class="block relative h-35 rounded overflow-hidden">
                <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="static/ritu.jpeg">
              </a>
              <div class="mt-4">
                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Ritu Sharma</h3>
                <h2 class="text-gray-900 title-font text-lg font-medium">Nepalan</h2>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    <a href="https://instagram.com/ritusharma3124?utm_medium=copy_link">Profile Link</a>
                  </button>
                <!-- <p class="mt-1">$18.40</p> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- content -->

<!-- gallery -->
<!-- <section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex w-full mb-20 flex-wrap">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-white lg:w-1/3 lg:mb-0 mb-4">Some Spotted Photographs</h1>
        <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">Atleast someone is having fun</p>
      </div>
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/501x301">
          </div>
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/600x360">
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/601x361">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/502x302">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/503x303">
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- gallery -->
<!-- <footer -->
    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">SIILAS Crushes</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2021 JNU Crushes —
            <a href="#" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@jnujaipur</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
    
          </span>
        </div>
      </footer>
<!-- <footer -->
</body>
</html>